@import "tailwindcss";

@theme {
  --animate-breathe: breathe 20s ease-in-out infinite;

  @keyframes breathe {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }
}