@import "tailwindcss";

@theme {
  --animate-breathe: breathe 20s ease-in-out infinite;

  @keyframes breathe {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
  }
}

body {
  background-color: #18181b; /* Tailwind's zinc-900 */
  color: #f4f4f5; /* Tailwind's zinc-100 for text */
}